<div class="row">
  <div class="col-sm-6">
    <h2 class="alignCenter">ROBOT LIST</h2>
    <ul>
      <li>
        You should be able to display all robots and their total stats (cost and power).
      </li>
      <li>
        You should be able to click on each one and get a detailed list of items/parts attached to the robot.
      </li>
      <li>
        You should be able to add two robots to the arena.
      </li>
      <li>
        When you click battle, it should randomly decide the winner of the battle
        weighted by the difference in power of each robot.
      </li>
    </ul>
  </div>
  <div class="col-sm-6 alignCenter">
    <h2>ARENA</h2>
    <div class="row">
      <div class="col-sm-12 arenaDisplay">
        Display Challengers Here
      </div>
    </div>

    <button type="button" class="btn btn-danger">
      BATTLE!
    </button>
  </div>
</div>
